{% extends 'main/base.html'  %}
{% load static  %}


{% block title  %}
Вход в личный кабинет
{% endblock  %}

{% block content  %}
    <h4 class= "my-4">Вход в личный кабинет</h4>
    <form action= "#" method= "GET"  >
        {% csrf_token  %}
        <div class= "col-md-4">
            <input type="text" id="name" class="form-control my-4" placeholder="Логин">
            <input type="text" id="name" class="form-control my-4" placeholder="Пароль">
        </div>
        <div>
            <button type="submit" id= "button" class="btn btn-sm btn-success">Вход</button>
        </div>
        <div>
            <a href="{% url 'registration' %}">Регистрация</a>
        </div>
 
    <script src= "{% static 'js/user_data_applying.js'  %}"></script>
{% endblock  %}
